<!-- templates/fruits_selectfruit.html -->
{% extends 'base.html' %}

{% block content %}
<form method='GET' action='/fruits'>
    <fieldset>
    <legend>Pick Your Fruits</legend>
    <!-- FRUIT SELECTION -->
    <p> 
        <label for='title'>Fruit Selection</label><br>
    </p>
    </fieldset>

    <img src="mango.jpg" alt="Girl in a jacket">

    <!-- BUTTON -->
    <p>
        <button type='submit'><a href='/fruits/tobasket'>Add fruit to basket</a></button>
    </p>
</form>
{% endblock %}


